KEN_ALL-utf8.CSV
KEN_ALL.CSV
ken_all.zip
*.json
!postal.json
!postal-extended.json
!geo.json
!kana.json
!kana-extended.json
*.js
!index.js
node_modules

#editor
.idea/

.env
.env.sample
run.sh
yarn-error.log
